* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h1, ul, p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.logo{
    width: 125px;
    height: 125px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 5px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    padding-right: 20px;
}

.header-menu a{
    padding: 16px 0px;
    display: inline-block;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

.header-menu a:hover{
    color: #88B4A5;
}

@media (max-width: 600px) {
    .header-menu {
        display: none;
    }
    .header {
        justify-content: center;
    }
}

.header-bg {
    background-color: #fff;
}

.introducao-bg {
    background-color: #fff;
    justify-content: center;
    align-items: center;
}

.introducao {
    display: grid;
    grid-template-columns: 6fr 8fr;
    gap: 0px 40px;
    max-width: 900px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.introducao-conteudo {
    padding-top: 80px;
    padding-bottom: 120px;
}

.title {
    font-family: 'EB Garamond', serif;
}

.introducao h1 {
    padding-bottom: 5px;
    font-size: 64px;
    font-weight: 00;
    color: #88B4A5;
}

.introducao p {
    padding-bottom: 50px;
    color: #251D1D;
    font-weight: 300;
}

.introducao a {
    background-color: #88B4A5;
    color: white;
    padding: 18px 18px;
    border-radius: 15px;
    font-weight: 400;
}

.introducao a:hover {
    box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.2);
}

.introducao img {
    padding-top: 80px;
    padding-bottom: 120px;
}

@media (max-width: 600px) {
    .introducao {
        grid-template-columns: 1fr;
        padding-bottom: 80px;
    }
    .introducao-conteudo {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .introducao-conteudo p {
        font-size: 16px;
    }
    .introducao p {
        padding-right: 10px;
        text-align: center;
    }
    .introducao img {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .title {
        font-size: 42px !important;
        text-align: center;
    }
    .introducao a {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 20px;
        text-align: center;
    }
    .button {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 20px;
        text-align: center;
    }
}

.sobre {
    padding-top: 120px;
}

.container-sobre {
    max-width: 1000px;
    box-sizing: border-box;
    box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    background-color: #fff;
    padding-bottom: 60px;
    margin-bottom: 140px;
}

.container-sobre h3 {
    color: #251D1D;
    font-weight: 600;
    padding-bottom: 20px;
}

.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.maquiagem {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.maquiagem img {
    max-width: 200px;
}

.maquiagem img:hover {
    box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 900px) {
    .sobre h3{
        text-align: center;
    }
    .portfolio {
        display: flex;
        flex-wrap: wrap;
    }
    .maquiagem {
        display: flex;
        flex-wrap: wrap;
    }
    .maquiagem img {
        margin-left: auto;
        margin-right: auto;
    }
}

.servicos {
    background-color: #88B4A5; 
    background-size: cover;
    width: 100%;
    height: 600px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.servicos-container {
    width: 100%;
    height: 400px;
    background-color: #fff;
}

.servicos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.2);
}

.servico {
    padding: 20px;
    padding-left: 80px;
}

.button {
    background-color: #88B4A5;
    color: white;
    padding: 18px 18px;
    border-radius: 15px;
    font-weight: 400;
    margin-top: 20px;
}

.button:hover {
    box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.2);
}

.servico h3 {
    color: #251D1D;
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 15px;
}

.servico p {
    color: #535151;
    font-size: 16px;
    padding-bottom: 32px;
}

.subtitle {
    color: #88B4A5;
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 15px;
}

.veja-mais {
    color: #88B4A5;
    font-weight: 600;
}

.veja-mais:hover {
    color: #88B4A5;
}

.servico h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #88B4A5;
    font-size: 21px;
    font-weight: 600;
}

@media (max-width: 900px) {
    .servico {
        padding: 10px;
        padding-left: 30px;
    }
}


@media (max-width: 800px) {
    .servicos-container {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    .servicos {
        height: 100%;
    }
}

.contato{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 70px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.contato h2{
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.contatos-cont{
    text-align: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.contatos-cont h3{
    color: #686060;
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: 400;
    display: flex;
}

.img-wpp{
    padding-right: 10px;
}

@media (max-width: 800px) {
    .contatos-cont {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .contatos-cont h3{
        padding-bottom: 10px;
    }
}

.footer {
    background-color: #88B4A5; 
    padding: 20px;
    margin-top: 80px;
    text-align: center;
    color: white;
    font-size: 14px;
}

.footer a:hover {
    color: #3e504a;
}

.depoimentos {
    background-color: #88B4A5; 
    background-size: cover;
    width: 100%;
    height: 700px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.depoimentos-container {
    width: 100%;
    height: 500px;
    background-color: #fff;
}

.depoimentos-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.2);
}

.depoimento {
    padding: 20px;
    padding-left: 80px;
}

.depoimento h3 {
    color: #251D1D;
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 15px;
}

.depoimento p {
    color: #535151;
    font-size: 16px;
    padding-bottom: 15px;
}

.depoimento h4 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #88B4A5;
    font-size: 21px;
    font-weight: 600;
}

.depoimento img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.titles {
    color: #fff;
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media (max-width: 900px) {
    .depoimento {
        padding: 10px;
        padding-left: 30px;
        text-align: center;
    }
    .depoimento img {
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 800px) {
    .depoimentos-container {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
    .depoimentos {
        height: 100%;
    }
}